{% extends 'wander/base_new.html' %}
{% load static %}
{% block title %}{{ object.place.name }}{% endblock %}
{% block place_checked %}checked{% endblock %}
{% block context %}
    <section class="block_event">
        <div class="event">
            <div class="content_event">
                <div class="text_event">
                    <h1>{{ object.place.name }}</h1>
                    <p class="address_event"> {{ object.place.full_address }}</p>
                    <p class="text">История</p>
                    <p class="text">{{ object.history }}</p>
                    <p class="text">{{ object.content }}</p>
                </div>
                <div class="img_event">
                    <img src="{{ object.image.url }}"/>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
