{% extends 'wander/base_new.html' %}
{% load static %}
{% block title %}Достопримечательности{% endblock %}
{% block place_checked %}checked{% endblock %}
{% block context %}
    <section class="blocks-row-city">
        {% for attraction in object_list %}
            <a href="#">
                <div class="block">
                    <div class="bl_img" style="background-image: url('{{ attraction.image.url }}')">
                        <button>
                            {% if request.user.is_authenticated %}
                                {% if favattr %}
                            <div><a href="{% url 'users:favourite_add_attraction' attraction.id %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/no_love.png' %} alt="no_love"></div></a></div>
                            {% else %}
                            <div><a href="{% url 'users:favourite_add_attraction' attraction.id %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/love.png' %} alt="love"></div></a></div>
                            {% endif %}
                            {% else %}
                            <div><a href="{% url 'users:signup' %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/love.png' %} alt="love"></div></a></div>
                            {% endif %}
                        </button>
                    </div>
                    <div class="bl_text">
                        <div class="name">{{ attraction.name }}</div>
                        <div class="address">{{ attraction.place }}</div>
                    </div>
                </div>
            </a>
        {% empty %}
            <li>Пока ещё нет достопримечательностей.</li>
        {% endfor %}
    </section>
{% endblock %}
