<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}<link rel="stylesheet" href='{% static 'wander/wander_menu.css'%}'>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<div class="main_panel">
				<div class="logo">
                    {% load static %}
					<img class="logo_img" src='{% static 'wander/img/logo.svg' %}' alt="logo">
					<span class="logo_text">
						WANDER
					</span>
				</div>
				<ul class="mini_menu">
						<li class = "publish">
							<a href="#"><div>{% load static %}<img src='{% static 'wander/img/add.png' %}' alt="">
							<p>Опубликовать</p></div></a>
						</li>
						<li class = "notifications">
							<a href="#"><div><img src='{% static 'wander/img/bell.png' %}' alt="">
							<p>Уведомления</p></div></a>
						</li>
						<li class ="favorites">
							<a href="#"><div><img src='{% static 'wander/img/love.png' %}' alt="">
							<p>Избранное</p></div></a>
						</li>
					</ul>
				{% if user.is_authenticated %}
					<a class="sing_in" href="/users/signout/">
						Выйти
					 </a>
				{% else %}
					<a class="sing_in" href="#popup">
						Войти
					 </a>
				{% endif %}
			</div>
		</header>

        <section class="main_menu">
            <ul class="menu">
                <li class="place {% block place_checked %}{% endblock %}"> <a href={% url 'attraction-list'  %}  ><div><p>Достоприме-чательности</p>
                    <img src={% static 'wander/img/place.png' %} alt="place"></div></a>
                </li>
                <li class="poster {% block poster_checked %}{% endblock %}">	<a href={%  url 'poster-list' %}><div><p>Афиша</p>
                    <img src={% static 'wander/img/poster.png' %} alt="poster"></div></a>
                </li>
                <li class="eat {% block eat_checked %}{% endblock %}"><a href={% url 'restaurant-list' %}><div><p>Рестораны</p>
                    <img src={% static 'wander/img/restaurant.png' %} alt="eat"></div></a>
                </li>
                <li class="tickets {% block tickets_checked %}{% endblock %}"><a href={% url 'poster-list' %}><div><p>Развлечения</p>
                    <img src={% static 'wander/img/tickets.png' %} alt="tickets"></div></a>
                </li>
                <li class="rating {% block rating_checked %}{% endblock %}"><a href={% url 'rating' %}><div><p>Рейтинг</p>
                    <img src={% static 'wander/img/rating.png' %} alt="rating"></div></a>
                </li>
                <li class="settings {% block settings_checked %}{% endblock %}"><a href={% url 'settings' %}><div><p>Настройки</p>
                    <img src={% static 'wander/img/settings.png' %} alt="settings"></div></a>
                </li>
            </ul>
        </section>
		{% block context %}{% endblock %}
		<div id="popup" class="popup">
			<div class="popup_body">
				<div class="popup_content">
					<a class="popup_close" href="#"><img src={% static 'wander/img/close.svg' %} alt="X"></a>
					<div class="popup_title">
						<p><img src={% static 'wander/img/Wander.svg' %} alt="wan">WANDER</p> <br>
						Войдите в систему.
					</div>
					<div class="popup_text">
						<form action='/users/signin/' method="POST">
						  {% csrf_token %}
							<p>Имя пользователя</p>
						  <input class="input" type="text" placeholder="Имя пользователя" maxlength="256" name="username" required />
							<p>Пароль</p>
						  <input class="input" type="password" placeholder="Пароль" maxlength="256" name="password" type="password" required />
						  <button class="si_in" type="submit">Войти</button>
						</form>
						<!-- <p>Адрес электронной почты</p>
						<input class="input" type="text" placeholder="Эл.почта">
						<p>Пароль</p>
						<input class="input" type="password" placeholder="Пароль">
						<button class="si_in">Войти</button> -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
