<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}<link rel="stylesheet" href={% static 'wander/main.css' %}>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<title>Wander</title>
</head>
<body>
	<header>
		<div class="main_panel">
			<div class="logo">
				<img class="logo_img" src={% static "wander/img\logo.svg" %} alt="logo">
				<span class="logo_text">
					WANDER
				</span>
			</div>
			<ul class="mini_menu">
					<li class = "publish">
						<a href="#"><div><img src={% static "wander/img/add.png" %} alt="">
						<p>Опубликовать</p></div></a>
					</li>
					<li class ="favorites">
						<a href={% url 'users:favourite_list' %}><div><img src={%  static "wander/img/love.png" %} alt="">
						<p>Избранное</p></div></a>
					</li>
				</ul>
			<button class="sing_in"> 
				Войти
			 </button>
		</div>
	</header>
	<section class="main_menu">
		<ul class="menu">
            <li class="place {% block place_checked %}{% endblock %}"> <a href={% url 'attraction-list'  %}  ><div><p>Достоприме-чательности</p>
                    <img src={% static 'wander/img/place.png' %} alt="place"></div></a>
                </li>
                <li class="poster {% block poster_checked %}{% endblock %}">	<a href={%  url 'poster-list' %}><div><p>Афиша</p>
                    <img src={% static 'wander/img/poster.png' %} alt="poster"></div></a>
                </li>
                <li class="eat {% block eat_checked %}{% endblock %}"><a href={% url 'restaurant-list' %}><div><p>Рестораны</p>
                    <img src={% static 'wander/img/restaurant.png' %} alt="eat"></div></a>
                </li>
                <li class="tickets {% block tickets_checked %}{% endblock %}"><a href={% url 'poster-list' %}><div><p>Развлечения</p>
                    <img src={% static 'wander/img/tickets.png' %} alt="tickets"></div></a>
                </li>
                <li class="rating {% block rating_checked %}{% endblock %}"><a href={% url 'rating' %}><div><p>Рейтинг</p>
                    <img src={% static 'wander/img/rating.png' %} alt="rating"></div></a>
                </li>
                <li class="setting"><button class="settings"><div><p>Настройки</p>
					<img src={% static 'wander/img/settings.png' %} alt="settings"></div></button>
					<div class="dropdown-content">
					    <a href="#">Сменить город</a>
					    <a href="#">Информация об <br> учетной записи</a>
					    <a href="#">Выйти</a>
					</div>
				</li>
		</ul>
	</section>
	<section class="second">
		<div class="main_pict">
			<p>Найдите все лучшее в мире</p>
			<div class="search">
				<input class="schbuttom" type="submit" style="background-image: {% static 'wander/img/search.png' %};" value="">
				<input class="field" type="text" placeholder="Куда едем?">
			</div>
		</div>
		<div class="pict">
				<img class="main_img" src={% static "wander/img/main_img.png" %} alt="main_pict">
			</div>
	</section>
	<section class="third">
		<div class="name">
			<hr>
			<p>Мечтайте о следующей поездке</p>
			<hr>
		</div>
		<div class="row_city">
			<div class="blocks">
				<div class="block_img">
					<button>
					 	<div class="block_favorites">
							<img src="img/love.png" alt="love">
					  	</div>
					</button>
				</div>
				<div class="block_text">
					Москва, Россия
				</div>
			</div>
			<div class="blocks">
				<div class="block_img">
					<button>
					 	<div class="block_favorites">
							<img src="img/love.png" alt="love">
					  	</div>
					</button>
				</div>
				<div class="block_text">
					Москва, Россия
				</div>
			</div>
			<div class="blocks">
				<div class="block_img">
					<button>
					 	<div class="block_favorites">
							<img src="img/love.png" alt="love">
					  	</div>
					</button>
				</div>
				<div class="block_text">
					Москва, Россия
				</div>
			</div>
			<div class="blocks">
				<div class="block_img">
					<button>
					 	<div class="block_favorites">
							<img src="img/love.png" alt="love">
					  	</div>
					</button>
				</div>
				<div class="block_text">
					Москва, Россия
				</div>
			</div>
			
		</div>
	</section>
    <div id="popup" class="popup">
			<div class="popup_body">
				<div class="popup_content">
					<a class="popup_close" href="#"><img src="img/close.svg" alt="X"></a>
					<div class="popup_title">
						<p><img src="img/Wander.svg" alt="wan">
						WANDER</p> <br>
						Войдите в систему.
					</div>
					<div class="popup_text">
						<p>Адрес электронной почты</p>
						<input class="input" type="text" placeholder="Эл.почта">
						<p>Пароль</p>
						<input class="input" type="password" placeholder="Пароль">
						<button class="si_in">Войти</button>
						<a class="fogget" href="#popup_reg"> Регистрация</a>
					</div>
				</div>
			</div>
		</div>
		<div id="popup_reg" class="popup">
			<div class="popup_body">
				<div class="popup_content">
					<a class="popup_close" href="#"><img src="img/close.svg" alt="X"></a>
					<div class="popup_title">
						<p><img src="img/Wander.svg" alt="wan">
						WANDER</p> <br>
						Регистрация
					</div>
					<div class="popup_text">
						<p>Адрес электронной почты</p>
						<input class="input" type="text" placeholder="Эл.почта">
						<p>Пароль</p>
						<input class="input" type="password" placeholder="Пароль">
						<p>Повторите пароль</p>
						<input class="input" type="password" placeholder="Пароль">
						<button class="si_in">Зарегистрироваться</button>
					</div>
				</div>
			</div>
		</div>
	
</body>
</html>
