{% extends 'wander/base_new.html' %}
{% load static %}
{% block title %}{{ object.name }}{% endblock %}
{% block eat_checked %}checked{% endblock %}
{% block context %}
    <section class="block_event">
        <div class="event">
            <div class="content_event">
                <div class="text_event"><h1>{{ object.name }}</h1>
                    <p class="address_event"> {{ object.place.full_address }}</p>
                    <p class="text">{{ object.description }}</p>
                </div>
                <div class="img_event">
                    <img src="{{ object.image.url }}"/>
                    <img src="{{ object.place.image_map.url }}"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
