{% extends 'wander/base_new.html' %}
{% load static %}
{% block title %}Рестораны{% endblock %}
{% block eat_checked %}checked{% endblock %}
{% block context %}
    <section class="blocks-row-city">
        {% for restaurants in object_list %}
            <a href="#">
                <div class="block">
                    <div class="bl_img" > <!--style="background-image:-->
                        <button>
                            {% if request.user.is_authenticated %}
                            {% if restaurants in new_restaurant %}

                            <a href="{% url 'users:favourite_list' %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/no_love.png' %} alt="no_love"></div></a>
                            {% else %}
                            <a href="{% url 'users:favourite_add_restaurant' restaurants.id %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/love.png' %} alt="love"></div></a>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'users:signup' %}" class="">
                                <div class="bl_favorites"> <img src={% static 'wander/img/love.png' %} alt="love"></div></a>
                            {% endif %}
                        </button>
                    </div>
                    <div class="bl_text">
                        <div class="name">{{ restaurants.name }}</div>
                        <div class="address">{{ restaurants.place }}</div>
                    </div>
                </div>
            </a>
        {% empty %}
            <p>Пока ещё нет ресторанов.</p>
        {% endfor %}
    </section>
{% endblock %}



